[Bb]in/
[Oo]bj/
[Ww]orking*/
TestResults/
packages/
TestResults/
AppPackages/
*.suo
*.user
*.userprefs
_ReSharper.*
*.ReSharper.user
*.resharper.user
.vs/
*.lock.json
*.nuget.props
*.nuget.targets
*.orig